<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="GOATracer" Manufacturer="GOATracer Team" Version="1.0.0.0" UpgradeCode="e9edd932-f080-4995-a430-540836b41f5a">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="..\..\Source\GOATracer\Assets\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="GOATracer" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="GOATracer"/>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="..\Build\GOATracer.exe" />
      </Component>
      
      </ComponentGroup>

    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="GOATracer"
                  Description="GOATracer Raytracing Application"
                  Target="[INSTALLFOLDER]GOATracer.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\GOATracerTeam\GOATracer" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>
